@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
#headerTitle{
    font-size: 4rem;
    font-family: "Ranchers", sans-serif;
    letter-spacing: 8px;
}

#vignetteTitle{
    font-family: "Ranchers", sans-serif;
    letter-spacing: 4px;
}

.introduction{
    background-color: white;
    width: 1050px;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 3px solid black;
}

.vignette, .horizontalVignette, .bigVignette, .squareVignette, .verticalVignette, .introduction{
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    transition: transform 0.2s, box-shadow .2s;
}

.vignette:hover, .horizontalVignette:hover, .bigVignette:hover, .squareVignette:hover, .verticalVignette:hover, .introduction:hover{
    transform: scale(1.2);
    box-shadow: 15px 20px 10px rgb(0, 0, 0, 0.5);
}

.vignette{
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 3px solid black;
}
.horizontalVignette{
    background-color: white;
    width: 350px;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 27px 20px;
    border: 3px solid black;
}

.multipleVignette{
    margin-top: 20px;
}

.squareVignette{
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    border: 3px solid black;
}

.squareVignette .halfPhotoRight{
    align-self: center;
}

.verticalVignette .halfPhotoRight{
    align-self: end;
}

.verticalVignette{
    background-color: white;
    /* width: 350px; */
    width: 700px;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    margin: 20px;
    border: 3px solid black;
}

.photo{
    width: 300px;
    margin: 20px;
    border: 3px solid black;
}

.bigPhoto{
    width: 600px;
    margin: 20px;
    border: 3px solid black;
}

.halfPhoto, .halfPhotoRight{
    width: 150px;
    margin: 20px;
    border: 3px solid black;
    max-height: max-content;
}

.photoAndText{
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
}
.photoAndText  .halfPhotoRight{
    order: 1;
}

.halfText{
    width: 100px;
}

p{
    font-family: "Patrick Hand", cursive;
    padding: 20px;
    text-align: justify;
    font-size: 1.1em;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(133, 133, 115);
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.5);
}

.multipleVignetteBigger{

}

.bigVignette{
    background-color: white;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 3px solid black;
}